@media only screen and (max-width: 640px) {
  .smNavbar {
    display: flex;
  }
  .MdNavbar {
    display: none;
  }
  .lgNavbar {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .sliderLg {
    display: none;
  }
  .sliderMd {
    display: none;
  }
}
